/* animations */
@keyframes gradientAnimator {
    0% {
        background-position: 34% 0%;
    }
    50% {
        background-position: 67% 100%;
    }
    100% {
        background-position: 34% 0%;
    }
}

/* main */
body {
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(
        180deg,
        #00fffd,
        #00ff1b,
        #fff500,
        #f390ff,
        #00ffe6
    );
    background-size: 1000% 1000%;
    animation: gradientAnimator 40s ease infinite;
}

h1 {
    color: blue;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -9999999;
}
#uploaderfunctionality {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.uploaderfunctions {
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    font-family: "Bebas Neue", cursive;
}
#uploaderfunctionality button {
    margin-top: 0px;
    background: linear-gradient(153deg, #c100ff, #00ffc4, #e7ff00, #fdc1ff);
    background-size: 400% 400%;
    animation: gradientAnimator 40s ease infinite;
}

#uploaderfunctionality:hover {
    background: rgba(0, 0, 0, 0.5);
}
